@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

.h3-color {
  font: bold;
  color: blue;
}

.about-page-h1 {
  font: bold;
  color: blue;
}

.about-page-h2 {
  font: bold;
  color: red;
}
